In [1]:
import pandas as pd

# File path
file_path = '/home/marshal/protonotebook/Data Mining/Nature-language/Sports_and_Outdoors_5.json'

# Read JSON file into DataFrame
data = pd.read_json(file_path, lines=True)
data.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,style,vote,image
0,5,True,"06 3, 2015",A180LQZBUWVOLF,0000032034,Michelle A,What a spectacular tutu! Very slimming.,Five Stars,1433289600,NaN,NaN,NaN
1,1,True,"04 1, 2015",ATMFGKU5SVEYY,0000032034,Crystal R,What the heck? Is this a tutu for nuns? I know...,Is this a tutu for nuns?!,1427846400,NaN,NaN,NaN
2,5,True,"01 13, 2015",A1QE70QBJ8U6ZG,0000032034,darla Landreth,Exactly what we were looking for!,Five Stars,1421107200,NaN,NaN,NaN
3,5,True,"12 23, 2014",A22CP6Z73MZTYU,0000032034,L. Huynh,I used this skirt for a Halloween costume and ...,I liked that the elastic waist didn't dig in (...,1419292800,NaN,NaN,NaN
4,4,True,"12 15, 2014",A22L28G8NRNLLN,0000032034,McKenna,This is thick enough that you can't see throug...,This is thick enough that you can't see throug...,1418601600,NaN,NaN,NaN

Amazon Sports and Outdoors Products Dataset Review

In [2]:
review_data = data[['overall','reviewerID','reviewText','summary']]
review_data.head()

,overall,reviewerID,reviewText,summary
0,5,A180LQZBUWVOLF,What a spectacular tutu! Very slimming.,Five Stars
1,1,ATMFGKU5SVEYY,What the heck? Is this a tutu for nuns? I know...,Is this a tutu for nuns?!
2,5,A1QE70QBJ8U6ZG,Exactly what we were looking for!,Five Stars
3,5,A22CP6Z73MZTYU,I used this skirt for a Halloween costume and ...,I liked that the elastic waist didn't dig in (...
4,4,A22L28G8NRNLLN,This is thick enough that you can't see throug...,This is thick enough that you can't see throug...

In [3]:
review_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2839940 entries, 0 to 2839939
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   overall     int64
 1   reviewerID  object
 2   reviewText  object
 3   summary     object
dtypes: int64(1), object(3)
memory usage: 86.7+ MB

In [4]:
print(review_data.overall.value_counts(normalize=True))

overall
5    0.676563
4    0.174487
3    0.074021
1    0.039141
2    0.035788
Name: proportion, dtype: float64

#### we can see that most of our review are good but we also have bad reviews as well

In [5]:
filtered_data = review_data.drop_duplicates(subset=['reviewerID'])
filtered_data

,overall,reviewerID,reviewText,summary
0,5,A180LQZBUWVOLF,What a spectacular tutu! Very slimming.,Five Stars
1,1,ATMFGKU5SVEYY,What the heck? Is this a tutu for nuns? I know...,Is this a tutu for nuns?!
2,5,A1QE70QBJ8U6ZG,Exactly what we were looking for!,Five Stars
3,5,A22CP6Z73MZTYU,I used this skirt for a Halloween costume and ...,I liked that the elastic waist didn't dig in (...
4,4,A22L28G8NRNLLN,This is thick enough that you can't see throug...,This is thick enough that you can't see throug...
...,...,...,...,...
2775517,5,A2F3EN7LN17C6G,Works as expected!,Five Stars
2777195,5,A1XD8656MPLLCO,As described. easy to assemble with shock cord.,easy to assemble with shock cord
2793076,5,ANJRXC0VX93YD,Really Nice set of Carbon bars that are very l...,"Light, Strong and look spectacular with Carbon..."
2795943,5,A3LAWQC4XQ2M17,Ive been using these for about two months so f...,Holding up well!
2795944,5,A25J46VKDFI2IJ,Worked perfectly! Very happy,Happy

#### Eliminating Duplicates

In [6]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 332447 entries, 0 to 2795944
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   overall     332447 non-null  int64
 1   reviewerID  332447 non-null  object
 2   reviewText  332310 non-null  object
 3   summary     332388 non-null  object
dtypes: int64(1), object(3)
memory usage: 12.7+ MB

In [7]:
filtered_data_text = review_data.drop_duplicates(subset=['reviewerID'])
filtered_data_text.info()

<class 'pandas.core.frame.DataFrame'>
Index: 332447 entries, 0 to 2795944
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   overall     332447 non-null  int64
 1   reviewerID  332447 non-null  object
 2   reviewText  332310 non-null  object
 3   summary     332388 non-null  object
dtypes: int64(1), object(3)
memory usage: 12.7+ MB

From this analysis we can say that using reviewerID and reviewText give use same results above.

In [8]:
filtered_data_text

,overall,reviewerID,reviewText,summary
0,5,A180LQZBUWVOLF,What a spectacular tutu! Very slimming.,Five Stars
1,1,ATMFGKU5SVEYY,What the heck? Is this a tutu for nuns? I know...,Is this a tutu for nuns?!
2,5,A1QE70QBJ8U6ZG,Exactly what we were looking for!,Five Stars
3,5,A22CP6Z73MZTYU,I used this skirt for a Halloween costume and ...,I liked that the elastic waist didn't dig in (...
4,4,A22L28G8NRNLLN,This is thick enough that you can't see throug...,This is thick enough that you can't see throug...
...,...,...,...,...
2775517,5,A2F3EN7LN17C6G,Works as expected!,Five Stars
2777195,5,A1XD8656MPLLCO,As described. easy to assemble with shock cord.,easy to assemble with shock cord
2793076,5,ANJRXC0VX93YD,Really Nice set of Carbon bars that are very l...,"Light, Strong and look spectacular with Carbon..."
2795943,5,A3LAWQC4XQ2M17,Ive been using these for about two months so f...,Holding up well!
2795944,5,A25J46VKDFI2IJ,Worked perfectly! Very happy,Happy

In [9]:
filtered_data_text.to_csv('Sports_and_Outdoors_5_filtered.csv', index=False)

:

Here I am download filtered_data for simplicity